.DS_Store
__pycache__/
*.pyc
.env
.venv/
.idea/
.vscode/

# Python tooling
.*_cache/
.coverage
htmlcov/
*.egg-info/
*-local-test.zip

# Home Assistant development runtime files
ha-config/**
!ha-config/
!ha-config/configuration.yaml
